body {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  margin: 0;
}

.content {
  position: relative;
  min-width: 1000px;
  background: linear-gradient(120deg, rgb(232, 209, 179) 0%, rgb(252, 246, 240) 40%);
  /* overflow: hidden; */
}

.header {
  background-color: rgba(250, 235, 215, 0.3);
  display: flex;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  box-shadow: 0 1px 5px 0px grey;
  z-index: 1000;
  gap: 120px;
  /* max-height: 2000px; */
}

img {
  transition: transform 0.3s ease;
  border-radius: 10px;
}

img:hover {
  transform: scale(1.03);
}

.el-tabs .el-tabs__item {
  background-color: rgb(247, 228, 202);
  color: rgba(82, 56, 23, 0.691);
  font-size: larger;
  font-weight: bold;
}

.el-tabs .el-tabs__item.is-active {
  background-color: rgb(232, 209, 179); /* Active background color */
  color: rgba(0, 0, 0, 0.691); /* Active text color */
  font-size: larger; /* Active font size */
}

.el-tabs .el-tabs__active-bar {
  background-color: rgba(0, 0, 0, 0.691);
}

.el-tabs .el-tabs__item:hover {
  color: rgba(0, 0, 0, 0.691); /* Change this color to your desired hover color */
}

.el-input .el-input__wrapper {
  background-color: rgb(253, 249, 244);
  border: none;
}

.routerLink {
  text-decoration: none;
  background-color: rgb(232, 209, 179);
  color: black;
  /* positon:absolute; */
  margin-right: 24px;
  margin-left: auto;
  padding: 10px;
  border-radius: 7px;
  box-shadow: 1px 1px 10px 0px grey;
  font-weight: bold;
  font-size: large;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}
